.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input[type="checkbox"] {
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: white;
  border-radius: 3px;
  margin-right: 10px;
  border: 1.5px solid grey;
}

.checkbox-container input[type="checkbox"]:checked + .checkmark {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
}

.checkbox-container input[type="checkbox"]:checked + .checkmark:before {
  content: "\2713";
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 10px;
  font-weight: bold;
}

.checkbox-container input[type="checkbox"]:not(:checked) ~ .checkmark:before {
  content: "";
  display: flex;
  align-items: center;
  justify-content: center;
  // border: 1px solid white;
  // background-color: red;
  color: black;
  font-size: 10px;
  font-weight: bold;
}
